/* General styles */
body {
    background-color: #f0f0f0;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    color: #111;
    overflow-y: scroll;
}

#page {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 4px;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 10px;
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between logo and company name */
}

#logo {
    width: 50px;
    height: auto;
}

#company-name {
    font-size: 24px;
    color: #405580;
    font-weight: bold;
}

/* Top Bar with Links */
#top-bar {
    width: 100%;
    background-color: #6ec78e; /* Green color */
    color: #000; /* Default link text color black */
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

    #top-bar a {
        color: #000; /* Default link text color black */
        margin: 5px 10px; /* Add margin to space out links */
        text-decoration: none;
        font-weight: bold;
        padding: 8px 15px;
        border-radius: 4px;
        background-color: #76d1a1; /* Light green background box */
        transition: background-color 0.3s ease, color 0.3s ease;
        display: inline-block;
    }

        #top-bar a:hover {
            background-color: #1a5730; /* Dark green on hover */
            color: #fff; /* White text color on hover */
        }

/* Article List */
.article-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px; /* Increase padding to make articles taller */
    border-bottom: 1px solid #AAA;
    cursor: pointer;
    transition: transform 0.3s ease;
    min-height: 225px; /* Ensure a minimum height for articles */
}

    .article-item:hover {
        transform: translateY(-5px);
    }

/* About Me Section */
#about {
    margin: 20px 0;
    padding: 20px;
    background-color: #76d1a1; /* Light green background */
    border-radius: 8px;
}

    #about h2 {
        font-size: 24px;
        color: #1a5730;
        margin-bottom: 10px;
    }

    #about p {
        font-size: 16px;
        color: #111;
        line-height: 1.6;
    }

/* Detailed Article View */
#article-detail {
    padding: 20px;
}

    #article-detail button {
        background-color: #76d1a1;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }

        #article-detail button:hover {
            background-color: #1a5730;
        }

/* Hide the article detail initially */
#article-detail {
    display: none;
}
